.content-wrapper {
    max-width: 1344px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.login-container {
    background-color: #F7F3ED;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 177px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.login-container h2 {
    font-size: var(--size-1); /* ~24px */
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Figtree", sans-serif;
}

.login-container p {
    font-size: var(--size-0);
    margin-top: 0;
    margin-bottom: 45px;
    font-family: "Figtree", sans-serif;
}

.btn-login-appointment {
    margin-left: auto;
    margin-right: auto;
    width: 103px;
    height: 38px;
}