* {
  margin: 0;
  padding: 0;
}

.general {
  max-width: 1344px;
  margin: 0 auto;
  user-select: none;
}

/* Navbar */
.navbar-container {
  background-color: #ffffff;
  height: 130px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
}

.navbar nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  padding: 1rem;
  font-family: 'Figtree', sans-serif;
}

.navbar nav a:hover {
  color: blue;
}

.btn-login {
  width: 103px;
  height: 38px;
  background: #5686e5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  font-size: 1rem;
  font-family: 'Figtree', sans-serif;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 790px;
}

.hero-page {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
}

.hero-text {
  max-width: 55%;
}

.hero-text h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: 'Figtree', sans-serif;
  font-weight: normal;
  line-height: 6rem;
  color: #222;
}

.hero-text .highlight {
  color: #4f8ef7;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}

.hero-text p {
  font-size: 1.25rem;
  margin-top: 11px;
  margin-bottom: 3.5rem;
  font-family: 'Figtree', sans-serif;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.btn-primary {
  width: 168px;
  height: 56px;
  background: #5686e5;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
}

.dentists {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.dentists .text-primary {
  color: #222;
  font-weight: bold;
  display: block;
  font-family: 'Figtree', sans-serif;
}

.dentists .text-secondary {
  color: #222;
  font-weight: normal;
  margin-left: 12px;
  font-family: 'Figtree', sans-serif;
}

.dentists img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #5686e5;
  margin-left: -12px;
  display: block;
  box-sizing: border-box;
}

.dentists img:first-child {
  margin-left: 0;
}

.features {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  font-weight: normal;
  font-family: 'Figtree', sans-serif;
}

.features span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
}

.features img {
  width: 20px;
  height: 20px;
}

.hero-image img {
  width: 1900px;
  max-width: 100%;
}

/* Benefit Section */
.benefits {
  text-align: center;
  padding: 2rem 0;
  background-color: #f7f3ed;
  display: flex;
  align-items: center;
  height: 872px;
}

.benefits h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  color: #222;
}

.benefits .highlight {
  color: #5686e5;
}

.benefits .subtitle {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: 'Figtree', sans-serif;
  color: #222;
  max-width: 547px;
  margin: 0 auto 4rem;
  margin-top: 22px;
}

.features-grid {
  display: grid;
  gap: 4rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.feature-card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 4rem;
  max-width: 322px;
  width: 100%;
}

.feature-card p {
  font-size: 0.9rem;
  color: #222;
  text-align: right;
  align-self: flex-end;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 6rem;
  max-width: 224px;
}

.feature-card h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  align-self: flex-start;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

.feature-card h3 img {
  width: 30px;
  height: 30px;
}

.stats-title {
  color: #222;
  font-size: 1.25rem;
  font-family: 'Figtree', sans-serif;
  margin-bottom: 2rem;
  font-weight: normal;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  font-size: 1rem;
  font-family: 'Figtree', sans-serif;
}

.stats p {
  margin-top: 0rem;
}

.number {
  display: inline-flex;
  align-items: baseline;
  font-size: 3.8rem;
  font-weight: normal;
  color: #5686e5;
  font-family: 'Libre Baskerville', serif;
}

.number .symbol {
  font-size: 2.4rem;
}

/* CTA section */
.cta {
  background: white;
  padding: 5rem 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 580px;
}

.cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text h2 {
  margin-bottom: 1rem;
  color: #222;
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  font-weight: bold;
}

.cta-text .highlight {
  color: #5686e5;
}

.cta-text p {
  font-size: 1.25rem;
  color: #222;
  margin-bottom: 2rem;
  font-family: 'Figtree', sans-serif;
}

.btn-primary2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 56px;
  background: #5686e5;
  color: white;
  border-radius: 12px;
  font-size: 1.25rem;
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-top: 3rem;
}

.tooth-icon.left {
  position: absolute;
  transform: translate(-490px, -85px) rotate(-26deg);
  width: 75px;
  height: auto;
}

.tooth-icon.right {
  position: absolute;
  transform: translate(490px, 0px) rotate(30deg);
  padding-top: 260px;
  padding-left: 70px;
  width: 50px;
  height: auto;
}

/* Footer section */
.footer {
  background: white;
  height: 327px;
  border-top: 1px solid #222;
  display: flex;
  align-items: center;
}

.footer-content {
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.footer-left {
  max-width: 580px;
  font-size: 1rem;
  font-family: 'Figtree', sans-serif;
}

.footer-left .copyright {
  margin-top: 6rem;
  font-size: 0.8rem;
}

.footer-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 1rem;
}

.brand-name,
.links-title {
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.footer-logo {
  width: 32px;
  height: 32px;
  display: block;
}

.footer-right {
  margin-right: 5rem;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
  font-family: 'Figtree', sans-serif;
}

.footer-right li {
  margin-bottom: 0.5rem;
}

.footer-right a {
  text-decoration: none;
  color: #222;
}

.footer-right a:hover {
  color: blue;
}
